<?xml version="1.0" encoding="UTF-8"?>
<config>
    <layout>
        <title>Demo Blog</title>
        <branding>Demo Blog</branding>
    </layout>
    <database>
        <string>mysql://user:password@localhost/test</string>
    </database>
    <routes>
        <!-- ============================= ROOT_PATHS ============================= -->
        <root_path>
            <route>*</route>
            <defaults>
                <controller>index</controller>
                <action>index</action>
            </defaults>
        </root_path>
        <default>
            <route>:module/:controller/:action/*</route>
            <defaults>
                <module>default</module>
                <controller>index</controller>
                <action>index</action>
            </defaults>
        </default>
        <blog_path>
            <route>blog/*</route>
            <defaults>
                <module>blog</module>
                <controller>posts</controller>
                <action>index</action>
            </defaults>
        </blog_path>
        <!-- ============================= POSTS_PATH ============================= -->
        <blog_posts_path>
            <route>blog/posts/*</route>
            <defaults>
                <module>blog</module>
                <controller>posts</controller>
                <action>index</action>
            </defaults>
        </blog_posts_path>
        <blog_post_path>
            <route>blog/posts/:id/*</route>
            <defaults>
                <module>blog</module>
                <controller>posts</controller>
                <action>show</action>
            </defaults>
            <reqs>
                <id>\d+</id>
            </reqs>
        </blog_post_path>
        <new_blog_post_path>
            <route>blog/posts/new/*</route>
            <defaults>
                <module>blog</module>
                <controller>posts</controller>
                <action>new</action>
            </defaults>
        </new_blog_post_path>
        <edit_blog_post_path>
            <route>blog/posts/:id/edit/*</route>
            <defaults>
                <module>blog</module>
                <controller>posts</controller>
                <action>edit</action>
            </defaults>
            <reqs>
                <id>\d+</id>
            </reqs>
        </edit_blog_post_path>
        <delete_blog_post_path>
            <route>blog/posts/:id/delete/*</route>
            <defaults>
                <module>blog</module>
                <controller>posts</controller>
                <action>delete</action>
            </defaults>
            <reqs>
                <id>\d+</id>
            </reqs>
        </delete_blog_post_path>
        <!-- ============================= POST_COMMENTS_PATH ============================= -->
        <new_blog_post_comment_path>
            <route>blog/post/:post_id/comments/new/*</route>
            <defaults>
                <module>blog</module>
                <controller>comments</controller>
                <action>new</action>
            </defaults>
            <reqs>
                <post_id>\d+</post_id>
            </reqs>
        </new_blog_post_comment_path>
        <edit_blog_post_comment_path>
            <route>blog/post/:post_id/comments/:id/edit/*</route>
            <defaults>
                <module>blog</module>
                <controller>comments</controller>
                <action>edit</action>
            </defaults>
            <reqs>
                <post_id>\d+</post_id>
                <id>\d+</id>
            </reqs>
        </edit_blog_post_comment_path>
        <delete_blog_post_comment_path>
            <route>blog/post/:post_id/comments/:id/delete/*</route>
            <defaults>
                <module>blog</module>
                <controller>comments</controller>
                <action>delete</action>
            </defaults>
            <reqs>
                <post_id>\d+</post_id>
                <id>\d+</id>
            </reqs>
        </delete_blog_post_comment_path>
        <!-- ============================= MISC PATHS ============================= -->
        <contact_path>
            <route>contact/*</route>
            <defaults>
                <controller>index</controller>
                <action>contact</action>
            </defaults>
        </contact_path>
        <about_path>
            <route>about/*</route>
            <defaults>
                <controller>index</controller>
                <action>about</action>
            </defaults>
        </about_path>
        <styleguide_path>
            <route>styleguide/*</route>
            <defaults>
                <controller>index</controller>
                <action>styleguide</action>
            </defaults>
        </styleguide_path>
        <setup_path>
            <route>setup/*</route>
            <defaults>
                <controller>setup</controller>
                <action>index</action>
            </defaults>
        </setup_path>
        <help_path>
            <route>help/*</route>
            <defaults>
                <controller>index</controller>
                <action>help</action>
            </defaults>
        </help_path>
    </routes>
</config>